.body-container {
    overflow: hidden;

    .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        width: 100%;

        @media only screen and (max-width: 1440px) {
            max-width: none;
            width: 100%;
            padding: 0 70px;
        }

        @media only screen and (max-width: 1280px) {
            max-width: none;
            width: 100%;
            padding: 0 50px;
        }

        @media only screen and (max-width: 550px) {
            max-width: none;
            width: 100%;
            padding: 0 30px;
        }
        a {
            // display: inline-block;
            margin-right: 0px;
            // font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            color: #0d6efd;
        }
    }
}